:root {
	--primary: #f0843b;
	--secondary: #2596be;
	--neutral100: #fff;
	--padding: 0 24px;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: #333;
	background: var(--neutral100);
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
